<%- include('partials/header.ejs'); -%>
<div class="template">
    <!-- Az oldal háttere -->
</div>
<div class="quiz">
    <div id="quiz-card">
        <form method="post" action="/next" >
            <div role="radiogroup" aria-labelledby="question-text">
                <h2 id="question-text <%= question.id %>" class="question"><%= question.text %></h2>
                <div class="answer">
                    <% answers.forEach((a) => { %>
                        <label class="custom-control-label" for="answer-<%= a.id %>">
                            <input 
                                type="radio" 
                                class="custom-control-input" 
                                id="<%= a.id %>" 
                                name="answer" 
                                value="<%= a.id %>"
                            >
                            <%= a.text %>
                        </label>
                    <% }) %>  
                </div>
            </div>

            <p id="score">Eddig megszerzett pontok: <%= totalScore%></p>
            <button type="submit" id="next-btn">Következő</button>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs'); -%>